<div class="main-header">
    <h1>Municipalities</h1>
    <div class="main-searching-box">
        <input type="text" class="search-box" id="search-text" aria-describedby="search-text"
          [(ngModel)]="searchText" placeholder="Search" 
          autofocus>
        <div class="main-searching-switches">
            <input type="radio" value="active" id="active" name="filterSwitch" (change)="changeValue($event)">
            <label for="active">Active</label>
    
            <input type="radio" value="retired" id="retired" name="filterSwitch" (change)="changeValue($event)">
            <label for="retired">Retired</label>
    
            <input type="radio" value="submitted" id="submitted" name="filterSwitch" (change)="changeValue($event)">
            <label for="submitted">Submitted</label>
    
            <input type="radio" value="all" id="all" name="filterSwitch" checked (change)="changeValue($event)">
            <label for="all">All</label>
        </div>
    </div>
</div>
<div class="main-body">
    <div class="loader" *ngIf="!loaded">Loading...</div>
    <div class="main-table-display" *ngIf="loaded">
        <table>
            <thead>
                <th>id</th>
                <th>name</th>
                <th>valid to</th>
                <th>valid from</th>
                <th>status</th>
                <!-- <th>submitted</th> -->
            </thead>
    
            <tbody>
                <tr *ngFor="let item of items | textFilter: searchText | statusFilter: switch;  index as ind">
                    <td>{{item.codevalue}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.ValidTo | date }}</td>
                    <td>{{item.ValidFrom | date }}</td>
                    <td>{{ getStatus(item.status) }}</td>
                    <!-- <td>{{item.dateSubmitted | date }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
